.overview-card
  text-align left
  padding 16px 24px 8px

.o-card-wrap
  display flex
  // background-color #ffffff
  // padding 24px 0
  // margin-bottom 16px
  // border 1px solid #E6EDF8
  // border-radius 2px
  margin 16px 0px 

  .FB1:not(:last-child)
    margin-right 16px
    
.df-js
  display flex
  justify-content space-between
.mt1
  margin-top 1px