//.page-hello
  //height 100%
.ranking-table
  width 100%
  th
    white-space nowrap
    background-color #F8F8F8
    color #333
    font-weight normal
  th,td
    line-height 32px
    padding-left 8px
    padding-right 8px
    &:first-child
      padding-left 16px
    &:last-child
      padding-right 16px
    .ant-scroll-number
      color #666
      background-color rgba(0,0,0, 0.09)
  tr
    &:last-child
      .ant-scroll-number
        width 20px
        overflow hidden
        padding-left 2px

.page-hello2
  height 100%
  .category-manager-action
    background-color #f0f2f4