<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageConfig.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% for cssPath in pageConfig.css %}
      <link rel="stylesheet" href="{{cssPath}}">
    {% endfor %}

    <script type="text/javascript">
      {{ userConfig | safe }}
      {{ onerConfig | safe }}
      {{ njkData | safe }}
      {{ windowKeeper | safe }}
    </script>
  </head>
  <body class="dt-ant-12">

    <div id="root"></div>

    {% for jsPath in pageConfig.js %}
      <script src="{{jsPath}}"></script>
    {% endfor %}

  </body>
</html>