.processe-detail

  .info-title
    font-size 14px
    margin-bottom 16px
    position relative
    padding-left 12px

  .info-title:before 
    position absolute
    content ""
    height 14px
    width 3px
    left 0
    top 3px
    background #0078FF 

  .config-info
    margin 16px
    padding 16px 16px 24px
    background #fff 