.market-search
  background #ffffff
  // display flex
  padding 8px 24px 16px 24px

  .search-box
    width 552px
    margin 0 auto 24px
    position relative


  .advanced-search
    padding-top 24px
    border-top 1px dashed #E9E9E9

    &-title
      font-size 14px
      color rgba(0,0,0,0.85)
      line-height 32px

    &-label
      display inline-block
      width 64px 
      font-size 12px
      text-align right
      margin-right 8px
    
    &-radio
      display inline-block
      width 130px 
      font-size 12px
      text-align right
      margin-right 8px

  .advanced-search-show
    height 105px
    display block

  .advanced-search-hide  
    height 0px
    display none

  .advanced-search-btn
    width 72px
    position absolute
    color #0078ff
    top 10px
    left 576px
    cursor pointer

.search-list
  margin 16px
  padding 16px 0 0
  background #ffffff
  position relative

.close-height
  min-height calc(100vh - 224px)

.open-height
  min-height calc(100vh - 297px)