.empty-content-button
  width 176px
  height 40px
  padding 0
  outline none
  background #fff
  border 1px solid #D5E6FF
  border-radius 4px
  font-size 14px
  color rgba(0,0,0,0.85)
  text-align left
  line-height 40px
  vertical-align middle
  overflow hidden
  cursor pointer
  span
    opacity 0.85
    margin-left 10px
  &--active
    color #0078FF
    span
      opacity 1
  &__icon
    display inline-block
    height 40px
    width 40px
    border-top-right-radius 15px 20px
    border-bottom-right-radius 15px 20px
    background-color rgba(122,173,255,0.1)
    img
      margin-top -2px
      margin-left 6px
