.select-object 
  height calc(100vh - 173px)

.select-object-tree
  width 200px
  border 1px solid #D9D9D9
  border-radius 4px
  margin-right 16px
  overflow-y auto

.select-object-list
  // margin-top -40px
  margin-left 16px

.select-object-btn
  position relative
  top 50% /*偏移*/
  margin-top -50px

.select-object-table
  height calc(100% - 40px)
  border 1px solid #D9D9D9
  border-radius 4px  
  overflow-y auto

.object-tree-header 
  display flex
  background #f0f2f4
  align-items center
