.condition-item-box
  margin-bottom 16px
  padding 16px
  border 1px solid #d9d9d9
  border-radius 5px
  position relative

  .delete-icon
    color #919eab
    position absolute
    right 24px
    z-index 100

  .delete-icon:hover 
    color #2994ff

.rule-select-action
  height 16px
  width 16px
  border 1px solid #d9d9d9
  text-align center
  line-height 8px
  border-radius 10px
  margin-top 7px
  /* margin-left 4px */
  cursor pointer

.rule-if-box
  position relative
  margin-bottom 16px
  height 200px
  // height 32px

  svg
    height 100%
    width 100%
  .rule-if-content 
    position absolute
    top 0
    
 
 .abs
   position absolute