.export-select
  &-step1
    border 1px solid #e8e8e8
    margin-top: -25px
  &-tree
    float left
    position relative
    width 200px
    border-right 1px solid #e8e8e8
    overflow-y auto
    height calc(100vh - 320px)
    & + .FB1
      height calc(100vh - 320px)
  .ant-table-thead .ant-table-selection
    display none

.category-manager-action
  background-color #f0f2f4