.export-select
  &-step1
    border 1px solid #e8e8e8
  &-tree
    float left
    position relative
    width 200px
    border-right 1px solid #e8e8e8
    overflow auto
    height calc(100vh - 300px)
  .ant-table-thead .ant-table-selection
    display none