.page-project
  height 100%

  .list-content
    margin 16px
    background-color #ffffff
    min-height calc(100% - 88px)

.project-config
  height 100%

  .list-content
    margin 16px
    padding 16px 0px
    background #ffffff
    min-height calc(100% - 173px) 