.page-object
  .object-content
    display flex
    min-height: calc(100vh - 48px - 56px - 46px);

.object-tree
  background #ffffff

.object-tree-action
  display flex
  align-items center
  padding-left 8px
  background-color #f0f2f4
  