.processe-detail

  .list-content
    margin 16px 
    padding-top 24px 
    background #ffffff
    min-height calc(100vh - 264px) 

  .info-title
    font-size 14px
    margin-bottom 8px
    position relative
    // padding-left 12px

  // .info-title:before 
  //   position absolute
  //   content ""
  //   height 14px
  //   width 3px
  //   left 0
  //   top 3px
  //   background #0078FF 

  .config-info
     padding 0px 24px