.page-overview
  margin 16px

  .overview-rank
    border 1px solid #E6EDF8
    background #ffffff
    border-radius 2px

    &-header
      padding 16px 24px 
      font-size 14px
      border-bottom 1px solid #E6EDF8

    &-content
     padding 0px 24px
     position relative
     margin-top -8px

    .noData
      position absolute
      top 0
      left 0px
      width 100%
      padding-top 40px

  .object-cloud
    background #FFFFFF
    border 1px solid #E6EDF8
    border-radius 2px
    margin-bottom 16px
    height 580px

    &-header
      padding 16px 24px 
      font-size 14px
      color rgba(0, 0, 0, .85)
      border-bottom 1px solid #E6EDF8
      display flex
      align-items center
      justify-content space-between

    &-count
      font-size 12px
      color rgba(0, 0, 0, .45) 

    &-content
      height 524px
      overflow hidden
      position relative
      padding 16px 60px

    .noData
      position absolute
      top 0
      left 0px
      width 100%
      padding-top 100px
  .view-card
    background-color #fff
    margin-bottom 16px
    .overview-card-header
      padding 16px 24px
      font-size 14px
      color rgba(0, 0, 0, .85)
      border-bottom 1px solid #E6EDF8
      align-items center
    .one-card
      margin 24px 0px
      .f-color
        color #0078ff
        font-size 30px