.page-import
  .steps
    width 70%
    margin 24px auto 100px

  .error-row
    background #FFC8C8

  tr:hover
    td
      background transparent !important

  .ant-upload-list-item.ant-upload-list-item-done
    display none
