.page-approval
  height 100%
  display flex

  .approval-content
    margin 16px
    background #ffffff
    flex 1

  .list-content
    width 100%
    padding-top 8px
    background #ffffff

.approval-detail
  margin-bottom 16px
  
  &-title
    font-size 14px
    color rgba(0,0,0,0.85)
    margin-bottom 16px

  &-label
    display inline-block
    width 80px
    text-align right
    margin-right 12px
