.exponent
  background #F4F6F9
  padding-top 16px
  margin-top -24px

  .pie 
    position relative

    ul, li
      list-style none
      padding 0

    .pie-total
      position absolute
      top 55%
      left 35%

      .total 
        width 100%
        text-align center
        margin-top -60%
        margin-left -50%

   .pie-tips
     position absolute
     left 50%
     top 94px
     font-size 14px
     display flex
     align-items center
     justify-content center

    .circle 
      display inline-block
      width 8px
      height 8px
      border-radius 50%
      background #000
      margin-right 16px
    .interval
      color rgba(0, 0, 0, .45)

  .empty-box
    width 100%
    position absolute
    top 100px
  

