.tag-system
  display flex
  height calc(100vh - 94px)

  .tree
    background #ffffff

  .detail-content
    flex 1
    padding 16px
    background #F5F6F9
    height 100%
    overflow-y auto

  .detail-content::-webkit-scrollbar 
    display:none
