.add-sync
  padding-bottom 50px
  .add-sync-step
    padding 20px 80px 0
    margin-bottom 48px

  .select-storage
    position relative

    .view-storage
      position absolute
      right -72px
      top 0
      font-size 12px

  .sync-tag-tree
    width 220px
    border 1px solid rgba(0, 0, 0, .1)
    border-radius 4px
    margin-right 16px
    height calc(100% - 48px)
    overflow-y auto

    .all
      padding-left 24px

  .select-tree-header 
    display flex
    background #f0f2f4
    align-items center
    margin-bottom 8px

  .sync-tag-list
    height calc(100% - 48px)
    border-radius 4px
    margin-left 16px
    border 1px solid rgba(0, 0, 0, .1)
    position relative
    overflow-y auto

  .select-tag-search
    position absolute
    top -40px
    right 0

  .clear-btn
    position absolute
    top -40px
    left 0

  .preview-box
    padding 24px
    background rgba(0,0,0,0.02)

  .info-title
    font-size 14px
    margin-bottom 16px
    position relative
    padding-left 12px

  .info-title:before 
    position absolute
    content ""
    height 14px
    width 3px
    left 0
    top 3px
    background #0078FF 

  .ant-form
    .ant-form-item-label
      text-align right !important

  .bottom-button
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid #e9e9e9
    padding 10px 16px
    background #fff
    text-align right

.config-sync-tag
  height calc(100vh - 220px)
  display flex

  .select-tag-btn
    position relative
    top 50% /*偏移*/
    margin-top -50px
    height 30px

.edit-sync
  display flex
  padding-top 30px
  height calc(100vh - 120px)

  .select-tag-btn
    position relative
    top 50% /*偏移*/
    margin-top -50px
    height 30px
  
.ant-btn-sm
  line-height 20px