.scene-wrap
  height 100%

  .header
    background #fff
    font-size 14px
    color rgba(0, 0, 0, .85)
    padding 20px 16px

  .scene-box
    background #F4F6F9
    padding 16px
    min-height calc(100vh - 110px)

  .card
    background #ffffff
    margin-bottom 16px
    border-radius 6px
    border .5px solid #E3E9F0
    transition all .3s linear
    border-top 2px solid #91D5FF  

  .card:hover
    box-shadow 0px 3px 10px #DDE0E4
    transform translate3d(0, -2px, 0)
    
  .card:hover .hover-style
    color #0078FF 
  
  .item-info
    padding 16px 24px 0px
    cursor pointer

  .c-name 
    display flex
    align-items center
    position relative
    font-size 16px
    margin-bottom 8px
    padding-right 20px
    // cursor pointer

    .name
      color rgba(0, 0, 0, .85)
      margin-right 8px


    // .use-name
    //   // color #0078FF 

    i
      font-size 14px
      position absolute
      right -4px
      color rgba(0, 0, 0, .25)

  .c-info
    color rgba(0, 0, 0, .45)
    margin-bottom 8px
    
  .c-descr
    color rgba(0, 0, 0, .65)
    margin-bottom 8px

  .count-info
    display flex
    padding-top 8px
    margin-bottom 4px
    border-top 1px solid  #EFEFF0

    span 
      color rgba(0, 0, 0, .45)
    
    .count 
      font-size 20px
      color #0078FF 

    .line 
      width 1px
      height 30px
      background #EFEFF0
      margin 9px 28px 0

  .item-tool
    height 32px
    background rgba(194, 223, 255,0.08) 
    display flex
    justify-content flex-end
    align-items center

    .tool
      padding 0 10px
       border-left 1px solid rgba(181, 194, 206, .3)

      .i-btn
        height 14px
        color #919EAB 

      .i-btn:hover
        color #0078FF 

      .i-used
        height 14px
        color  rgba(145, 158, 171, .5)

    .line
      width 1px
      height 12px
      background rgba(181, 194, 206, .3)