.scene-detail
  height 100%
  background #F4F6F9

  .info
    background #ffffff
    padding 20px 16px

    .name 
      font-size 14px
      color rgba(0, 0, 0, .85)
      margin-bottom 20px
  
  .ant-tabs-nav-wrap
    padding-left 16px
    background #ffffff

  .ant-tabs-bar
    margin-bottom 0

.select-tag 
  background #F4F6F9
  
.select-tag-box
  padding 16px
  width 100%

  .chart
    background #ffffff