.tag-system
  display flex
  height calc(100vh - 150px)

  .tree
    background #ffffff

  .object-tree-action
    display flex
    align-items center
    padding-left 8px
    background-color #f0f2f4

  .detail-content
    flex 1
    padding 16px
    background #F5F6F9
    height 100%
    overflow-y auto
    .min-h
      min-height calc(100vh - 358px)
      // min-height calc(100vh - 376px)

  .detail-content::-webkit-scrollbar 
    display:none
.ant-legacy-form-item-control
  font-size 12px