.page-approval
  min-height calc(100vh - 48px - 32px)
  display flex

  .approval-menu
    width 180px

  .approval-content
    margin 16px
    background #ffffff
    flex 1

  .list-content
    width 100%
    padding-top 8px
    background #ffffff

.approval-detail
  margin-bottom 16px
  
  &-title
    font-size 14px
    color rgba(0,0,0,0.85)
    margin-bottom 16px

  &-label
    display inline-block
    width 90px
    text-align right
    margin-right 12px

  .approval-required::before
    display inline-block
    margin-right 4px
    color #FC6154
    font-size 14px
    font-family SimSun, sans-serif
    line-height 1
    content '*'
