// .back-config
//   height 100%
//   background-color #fff
//   padding 24px  

//   .cloud-config
//     width 600px
//   .config-title
//     color rgba(0,0,0,.85)
//     font-weight 500
//     margin-bottom 2em
//     font-size 14px
.config-work
  display flex
  justify-content space-between

.env-config-label
  width 80px
  color rgba(0,0,0,.5)

.env-config-value
  width 300px
  overflow hidden
  color rgba(0,0,0,.7)
  text-overflow ellipsis
  white-space wrap
  word-break break-all

.env-config-item
  display flex
  // align-items center
  min-height 16px
  // border-top 1px solid rgba(0,0,0,.09)
  // border-bottom 1px solid rgba(0,0,0,.09)

  .action
    cursor pointer
