.config
  height 100%  
  margin 16px
  .back-config
    height 100%
    background-color #fff
    margin 16px
    padding 24px  

    .cloud-config
      width 600px

    .config-title
      color rgba(0,0,0,.85)
      font-weight 500
      margin-bottom 2em
      font-size 14px
