.category-tree
  .category-manager-action
    background-color #f0f2f4
  .dt-tree-container
    background-color #fff

// // 只有对象和标签节点需要图表
//   .dt-tree-line
//     .dt-tree-icon
//       display flex
//     & .dt-tree-icon
//       display none
//     & .node-tag .dt-tree-icon
//       display flex


.select-tag-modal
  min-height 400px
  max-height 500px
  overflow-y auto

  .all
    padding-left 26px

  .select-tree
    width 220px
    padding 16px 8px
    border 1px solid rgba(0, 0, 0, .1)
    border-radius 4px

  .table-tree
    margin-left 16px
    border 1px solid rgba(0, 0, 0, .1)
    border-radius 4px
    padding 16px