// 白色背景的矩形div，稍微带点圆角
.white-block
  background-color #fff
  border-radius 2px

/*        标签地图 - 页面样式         */
.page-map
  width 100%
  min-height 100%
  padding 16px 0 0 4px // 左侧4px边距是和导航栏之间的间隙
  overflow-x hidden
  display flex
  flex-direction column
  .ant-tabs
    flex 1
  .map-overview, .map-search
    background-color #f7f7f7
    padding 16px
    // 减去这一块上面的内容高度和页面底部的padding-bottom；主要是没数据时需要撑开
    min-height calc(100vh - 176px)

// 标签搜索
.map-search
  .filter-collapse
    .ant-form-item
      margin-right 48px
      margin-bottom 0
      &:last-child
        margin-right 0
  // 重置表头字重
  .ant-table-column-title
    font-weight normal
  // 搜索部分-所属类目
  .search-category
    margin-left 32px
    padding 4px 8px
    color rgba(0, 0, 0, 0.65)
  .search-category--active
    background #1890FF
    border-radius 4px
    color #fff