$black45 = rgba(0, 0, 0, 0.45)

// 白色背景的矩形div，稍微带点圆角
.white-block
  background-color #fff
  border-radius 2px

/*        标签地图 - 页面样式         */
.page-map
  width 100%
  min-height 100%
  padding 16px 0 0 4px // 左侧4px边距是和导航栏之间的间隙
  overflow-x hidden
  display flex
  flex-direction column
  .ant-tabs
    flex 1
  .ant-tabs-bar
    margin-bottom 0
  .map-overview, .map-search
    background-color #f7f7f7
    padding 16px
    // 减去这一块上面的内容高度和页面底部的padding-bottom；主要是没数据时需要撑开
    min-height calc(100vh - 176px)

// 标签搜索
.map-search
  .filter-collapse
    .search-range-input
      margin-right 48px
      margin-bottom 0
      &:last-child
        margin-right 0
  // 重置表头字重
  .ant-table-column-title
    font-weight normal
  // 搜索部分-对象名称的容器
  .search-category-container
    // display inline-block
    max-width 80%
    margin-bottom -8px // 抵消最后一行search-category的margin-bottom
  // 搜索部分-对象名称
  .search-category
    display inline-block
    margin-right 32px
    margin-bottom 8px
    padding 4px 8px
    color rgba(0, 0, 0, 0.65)
    word-break keep-all
    &:last-child
      margin-right 0
  // 对象名称 - 选中状态
  .search-category--active
    background #1890FF
    border-radius 4px
    color #fff

// 弹框的footer样式重置
.map-search-modal
  .ant-modal-footer
    text-align center
    padding 16px 0
    button:last-child
      margin-left 24px

.map-overview
  .ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane
    // transition none // 默认动画有明显的闪烁，覆盖掉

  .pie-container
    width 270px
    height 280px
    position relative
  .pie-total
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -40%)
    text-align center
    color $black45
  .pie-info
    font-size 14px
    color $black45
    .ant-badge-status-text
      font-size 14px
