.object-list
  height 100%
  
  .list-content
      margin 16px
      background-color #ffffff
      min-height calc(100% - 88px)

.object-tree
  background #ffffff

.object-tree-action
  display flex
  align-items center
  padding-left 8px
  background-color #f0f2f4