.tag
  padding 2px 8px
  border-radius 4px
  font-size 12px

.gray
  color rgba(0, 0 ,0, .5)
  background rgba(0, 0, 0, 0.04)
  border 1px solid rgba(0, 0, 0, .2)

 .blue
    color #1890FF 
    background #E6F7FF
    border 1px solid #91D5FF



 