 .card
    background #ffffff
    margin-bottom 16px
    border-radius 6px
    border .5px solid #E3E9F0
    transition all .3s linear
    border-top 2px solid #91D5FF  

  .card:hover
    box-shadow 0px 3px 10px #DDE0E4
    transform translate3d(0, -2px, 0)
    
  .card:hover .hover-style
    color #0078FF 
  
  .item-info
    padding 16px 24px 0px

  .c-name 
    display flex
    align-items center
    position relative
    font-size 16px
    margin-bottom 8px
    padding-right 20px
    // cursor pointer

    .name
      color rgba(0, 0, 0, .85)
      margin-right 8px


    .use-name
      // color #0078FF 

    i
      font-size 14px
      position absolute
      right -4px
      color rgba(0, 0, 0, .25)

  .c-info
    color rgba(0, 0, 0, .45)
    margin-bottom 8px
    
  .c-descr
    color rgba(0, 0, 0, .65)
    margin-bottom 8px

  .tag
    padding 2px 8px
    border-radius 4px
    font-size 12px

  .gray
    color rgba(0, 0 ,0, .5)
    background rgba(0, 0, 0, 0.04)
    border 1px solid rgba(0, 0, 0, .2)

 .blue
    color #1890FF 
    background #E6F7FF
    border 1px solid #91D5FF



 