.config-drawer
  .config-one
    margin-bottom 24px
    .config-fb
      display flex
      justify-content space-between

      .config-text
        width 525px
        height 660px
        margin-top 48px
        background-color rgba(0,0,0,.02)
        display flex
        justify-content center
        align-items center

        .form-tooltip
          text-align center
      .config-form
        width 525px
        height 660px
        margin-top 48px
        padding 16px
        background-color rgba(0,0,0,.02)

        .form-header
          display flex
          justify-content space-between
        .ant-legacy-form-item
          margin-bottom 12px

      .not-p
        .comp-list-content
          .table
            padding 0