.object-tree
  background #ffffff

.object-tree-action
  display flex
  align-items center
  padding-left 8px
  background-color #f0f2f4
.object-cate
  .detail-header
    padding-left 0px
  .detail-base-info
    padding-left 0px 